<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :cohort_start, style: "display: block" %>
    <%= form.date_field :cohort_start %>
  </div>

  <div>
    <%= form.label :about_me, style: "display: block" %>
    <%= form.text_area :about_me %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
