<div id="<%= dom_id course %>">
  <p>
    <strong>Student:</strong>
    <%= course.student_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= course.subject %>
  </p>

  <p>
    <strong>State code:</strong>
    <%= course.state_code %>
  </p>

  <p>
    <strong>Local code:</strong>
    <%= course.local_code %>
  </p>

  <p>
    <strong>Credit type:</strong>
    <%= course.credit_type %>
  </p>

</div>
